body { 
background-color: rgba(36, 37, 37, 0.932);
text-align: center;
font: 1em sans-serif;
}


h1{
    text-align: center;
    color: azure;
}

h2 {
    text-align: center;
    color: azure;
}

.description {
    text-align: center;
    color: azure;
}

.list_head {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: azure;
    text-decoration-style: solid;

}

a {
    color: azure;
}

ol{
    text-align: left;
    text-decoration-color: azure;

}

.center{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    width: 1rem;
}


button {
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(172, 30, 30);
    }


.reference {
    color: azure;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 0%;
    padding-right: 0%;

}
